.img{
  height: 200px;
  width: 200px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border:3px solid rgba(167, 119, 227, 0.3);
  border-radius: 50%;
}
div.perfil-img{
  width: 50px;
  margin-left: 1.5%;
  position: flex;
}
.perfil{

  width:80% ;
  text-align: center;
}
#texto{
  text-align: center;
  margin-left: 300px;
  margin-bottom: 30px;

}
