.flex-dashboard header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  padding: 10px 30px;
}

.flex-dashboard header a {
  text-decoration: none;
  color: black;
}

.flex-dashboard header a > svg {
  color: #6e8efb;
}
