<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
        <title>SOS HIV</title>
    </head>
    <body>
        <div class="flex-dashboard">
            <sidebar>
                <div class="sidebar-title">
                    <h2>SOS HIV</h2>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <i class="fas fa-home"></i>
                            <a href="dashboard.html"> Dashboard</a>
                        </li>
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="#"> Perfil</a>
                        </li>
                        <li>
                            <i class="fas fa-file-alt"></i>
                            <a href="#"> Hístorico</a>
                        </li>
                        <li>
                            <i class="fas fa-file-medical"></i>
                            <a href="gerenciarconsulta.html"> Consultas</a>
                        </li>
                        <li>
                            <i class="fas fa-stethoscope"></i>
                            <a href="#"> Exames</a>
                        </li>

                    </ul>
                </div>
            </sidebar>
            <main>
                <header>
                    <a href="dashboard.html"> <i class="fas fa-home"></i> Dashboard</a>
                    <a href="../cadastro.html"> <i class="fas fa-sign-out-alt"></i> Logout</a>
                </header>
                <div class="main-content">
                    <div class="panel-row">
                        <button class="panel panel-50" a-view="adicionarConsulta"  onclick="fetchContent(this)"  a-folder="consulta">Adicionar Consulta</button>
                        <button class="panel panel-50" a-view="visualizarConsulta" onclick="fetchContent(this)"  a-folder="consulta">Visualizar Próxima Consulta</button>
                    </div>
                    <div class="content" id="ajax-content">

                    </div>
                </div>
            </main>
        </div>
        <script src="..//plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="..//plugins/fontawesome/js/all.min.js"></script>
        <script src="../js/ajax.js"></script>
    </body>
</html>